html,
body,
#root,
canvas {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

:root {
  --color-primary: #CF94AF;
  --color-secondary: #43467F;
  --color-white: #e2e2e2;
  --color-white-shaded: #b7b7b7;
  --color-black: #262424;
  --color-grey: #ccc;
  --border-radius-default: 4px;
  --spacing-default: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --font-family: "Inconsolata", monospace
}

body {
  font-family: var(--font-family);
  background: var(--color-primary);
  background: linear-gradient(47deg, var(--color-primary) 0%, var(--color-secondary) 95%);
}

a, a:visited {
  color: var(--color-white);
}

a svg {
  stroke: var(--color-white);
}

section {
  margin-top: var(--spacing-medium);
}

button {
  background: none;
  text-decoration: underline;
  border: none;
  color: var(--color-white);
  padding: 0;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1em;
}

hr {
  border: none;
  background:  var(--color-white);
  height: 2px;
  margin: var(--spacing-medium) 0;
}

.trackedImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  text-align: center;
  box-sizing: border-box;
  border: 5px solid var(--color-white);
}

.intro {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
  color: var(--color-white);
  max-width: 300px;
  margin: 0 auto;
}

.title {
  text-align: center;
  line-height: 1.4em;
  margin-bottom: var(--spacing-large);
}

.explanation {
  padding: 0;
  margin: 0 0 0 24px;
}

.explanation li {
  margin: var(--spacing-default) 0;
}

.snippet {
  background: var(--color-grey);
  color: var(--color-black);
  border-radius: var(--border-radius-default);
  padding: 0 2px;
}

.credit {
  display: block;
  margin-top: var(--spacing-medium);
}

@media print {
  .trackedImage {
    max-width: none;
    width: 100mm;
    height: 100mm;
    border: none;
  }

  .explanation, #ARButton {
    display: none;
  }
}
